* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  background-color: #f2f8ff; /* soft blue */
  color: #333;
}
#container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
#header {
  width: 100%;
  background-color: #ffd1e8; /* pink */
  text-align: center;
  padding: 25px;
}

#header h1 {
  color: #2e8b57; /* green */
  margin-bottom: 5px;
}

#header h2 {
  color: #1e90ff; /* blue */
  margin-top: 0;
}

.author {
  color: #006d5b;
  font-weight: bold;
}

.row {
  width: 100%;
  clear: both;
  margin-top: 20px;
}

.col {
  float: left;
  padding: 15px;
}

.left {
  width: 20%;
  background-color: #e8fff1; /* light green */
}

.center {
  width: 50%;
  background-color: #ffffff;
}

.right {
  width: 30%;
  background-color: #e6f0ff; /* light blue */
}

.center img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

h3 {
  color: #2e8b57;
  margin-top: 0;
}

figcaption {
  font-size: 0.8em;
  color: #666;
  margin-top: 5px;
}

.highlight {
  color: #ff4fa3; /* pink accent */
  font-weight: bold;
}

a {
  color: #1e90ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

fieldset {
  border: 2px solid #1e90ff;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #fff0f7;
}

legend {
  color: #2e8b57;
  font-weight: bold;
}

ul, ol {
  padding-left: 20px;
}

#footer {
  width: 100%;
  background-color: #7ccfb3; /* green */
  text-align: center;
  padding: 20px;
  margin-top: 30px;
}
